# Clangd cache
.cache

# CMake build directory
**/build

# Third party dependencies
**/third_party/

# Generated object files.
**/gen_obj

# Benchmarking data
**/data

# Scratch folder
**/scratch

# Objfiles generated.
*.S
*.o

# GCC build directories
gcc*

# Test data
*.asm
*.elf
*.cpp.x86.instructions

# Smoke tests directory.
**/tests/

# Testing executables.
**/exec/
